<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carleton150.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71294DA91BC6FC1500B9F81B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71294DBD1BC6FC1500B9F81B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71294DC81BC6FC1500B9F81B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71CC5F6D1BE942CF0065AA4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
